html, body {
    height: 100%;
    margin: 0;
}


.page {
    min-height: 100vh;
    opacity: 0;                  
    animation: fadeIn 1s ease forwards; 
}
@keyframes fadeIn {
    to {
        opacity: 10;               
    }
}


body {
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;     
    text-align: center;      
    font-family: Arial, sans-serif;
    background-color: #e3fcff; 
}


h1 {
    font-size: 40px;
    font-family: "Shizuru", system-ui;
}

p {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
}

.index p {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:17px;
}

.road p{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:12px;
}


ul li a {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    text-decoration: none; 
    color: rgb(223, 46, 105)
}


.curious p {
    color: #ffe8f9;
}

.adventurous p {
    color: #d8ecfc;
}

.relaxed p {
    color: #ffe8f9;
}


.curious {
    background-color: #180a04;
}

.curious h1 {
    color: #ffe8f9;
}


.adventurous{
    background-color: #022926;

}

.adventurous h1 {
    color: #d8ecfc;
}

.relaxed {
    background: linear-gradient(to bottom, #ff9a8b, #ff6a88, #ffb347);
}


h1 {
  font-family: "Shizuru", system-ui;
  font-weight: 400;
  font-style: normal;
}


.text {
    opacity: 0;
    animation-fill-mode: forwards;
}

.first {
    animation: firstText 4s ease;
}


.second {
    animation: secondText 5s ease;
    animation-delay: 4s;
}


.third {
    animation: secondText 5s ease;
    animation-delay: 4s;
}

.fourth {
    animation: secondText 5s ease;
    animation-delay: 4s;
}

@keyframes firstText {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes secondText {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0; 
}

li {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #d33967;
    font-size: 20px;
}

a:hover {
    color: #e86c1a;
}


.tilted-image {
    width: 300px;
    height: 400px;
    position: absolute;        
    right: 70px;               
    top: 50%;                 
    transform: rotate(-5deg) translateY(-70%);
}

.road-image {
    width: 300px;
    height: 400px;
    position: absolute;        
    left: 70px;               
    top: 50%;                 
    transform: rotate(5deg) translateY(-20%);
}

.passport-image {
    width: 250px;
    height: 350px;
    position: absolute;        
    left: 200px;               
    top: 30%;                  
    transform: rotate(-15deg) translateY(-65%);
}

.crayon-image {
    width: 250px;
    height: 350px;
    position: absolute;       
    right: 140px;               
    top: 65%;                  
    transform: rotate(-10deg) translateY(-20%);
}

.right-justified{
    width: 300px;
    height: 400px;
    position: absolute;        
    right: 70px;               
    top: 50%;                 
    transform: rotate(0deg) translateY(-50%);

}

.left-justified{
    width: 300px;
    height: 400px;
    position: absolute;        
    left: 70px;               
    top: 50%;                  
    transform: rotate(0deg) translateY(-50%);

}

.horizontal-right-justified{
    width: 400px;
    height: 300px;
    position: absolute;        
    right: 70px;               
    top: 50%;                  
    transform: rotate(0deg) translateY(-50%);

}

.horizontal-left-justified{
    width: 400px;
    height: 300px;
    position: absolute;        
    left: 70px;               
    top: 50%;                  
    transform: rotate(0deg) translateY(-50%);

}
